<div class="my-3">
<h4>Add A Todo</h4>
<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="title" class="form-label">Todo Title</label>
    <input type="text" [(ngModel)]="title" name="title" class="form-control" id="title" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Description</label>
    <input type="text" [(ngModel)]="desc" name="desc" class="form-control" id="desc">
  </div>
  <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
</form>
</div>